<launch>
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find tomato_kobuki)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tomato_kobuki)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tomato_kobuki)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tomato_kobuki)/config/global_costmap_params.yaml" command="load" />

    <remap from="cmd_vel" to="/mobile_base/commands/velocity"/>
    <param name="controller_frequency" value="5.0"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam command="load" file="$(find tomato_kobuki)/config/dwa_kobuki.yaml" /> 
  </node>

</launch>
